<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Drunkan's Deals</h1>
                    <h3>Select a city, and find a place to drink!</h3>
                    <hr class="intro-divider">
                  {% for city in cities %}
                    <a href="#" class="btn btn-default btn-lg">
                      <i class="fa fa-plus"></i>
                      {{ city.name }}
                    </a>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}