<!-- app/templates/admin/happyhours/happyhour.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_happy_hour %}
        Add Happy Hour
    {% else %}
        Edit Happy Hour
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_happy_hour %}
                <h1>Add Happy Hour</h1>
            {% else %}
                <h1>Edit Happy Hour</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}